---
import "../styles/global.css";
---
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blue Octavo Navigation</title>
  </head>
  <body class="nav-page">
    <nav>
      <ul>
        <li><a href="https://discord.com" target="_blank">Discord</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/writings">Writings</a></li>
        <li><a href="/merch">Merch</a></li>
      </ul>
    </nav>
  </body>
</html>
