---
import "../styles/global.css";
---
<html>
  <head>
    <meta charset="UTF-8">
    <title>Writings</title>
  </head>
  <body class="content-page">
    <h1>Writings</h1>
    <p>This is a placeholder for the writings page.</p>
  </body>
</html>
